@import "./../../css/color";
.LinkDir {
  padding-bottom: 10px;
  padding-top: 10px;

  a {
    color: $TextI;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 3px;
    &:hover {
      color: $Red;
      text-decoration: none;
    }
  }
}
