@import "./../../../css/color";
.Login {
  width: 60%;
  height: 60vh;
  @media screen and (max-width: 570px) {
    width: 100%;
  }
  form {
    span {
      color: $Text;
      font-size: 18px;
      .star {
        color: $Red;
      }
    }
    input {
      width: 100%;
      height: 40px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid $Border;
      border-radius: 5px;
      padding: 10px;
      font-size: 18px;
    }
  }
  .starTitle {
    font-size: 20px;
  }
  .Or {
    font-weight: 500;
    font-size: 18px;
  }
  .btn {
    font-size: 18px;
  }
}
