@import "./../../../css/color";

.Details {
  .image {
    background-color: $Sec-Bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    .photo {
      width: 200px;
    }
  }
  .quality {
    .Tags {
      font-size: 20px;
      font-weight: 500;
      color: $Text;
    }
    .quality {
      font-size: 18px;
    }
  }
  .manager {
    font-size: 20px;
  }
  .btn {
    font-weight: bold;
  }
}
