@import "./../../../css/color";
@mixin carousel($background) {
  background-color: $background;
  padding: 20px;
  width: 100vw;
  padding-left: 80px;
  height: 50vh;
  .mainText {
    padding-left: 60px;
    padding-top: 60px;
    @media screen and (max-width: 940px) {
      padding-left: 20px;
      padding-top: 10px;
    }
    @media screen and (max-width: 574px) {
      padding-left: 20px;
      padding-top: 20px;
    }
  }
  @media screen and (max-width: 940px) {
    padding: 15px;
    padding-left: 20px;
  }
  @media screen and (max-width: 574px) {
    padding: 10px;
    height: 20vh;
    padding-left: 10px;
  }
}
.carousel {
  @include carousel(#fcdedc);
}
.carousel2 {
  @include carousel(rgb(216, 214, 214));
}

.onDay {
  font-size: 30px;
  color: $Text;
  display: block;
  font-weight: lighter;
  font-family: cursive;
  @media screen and (max-width: 940px) {
    font-size: 26px;
  }
  @media screen and (max-width: 574px) {
    font-size: 16px;
    padding-top: 20px;
  }
}
.slogan {
  font-weight: 400;
  display: block;
  letter-spacing: 2px;
  color: $Un-Known;
  @media screen and (max-width: 940px) {
    font-size: 16px;
  }
  @media screen and (max-width: 574px) {
    font-weight: 200;
    font-size: 8px;
    display: none;
  }
  @media screen and (max-width: 400px) {
    font-size: 8px;
    color: black;
    display: none;
  }
}
.arrivals {
  font-size: 60px;
  color: $Red;
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  @media screen and (max-width: 940px) {
    font-size: 46px;
  }
  @media screen and (max-width: 574px) {
    font-size: 20px;
    letter-spacing: 0px;
  }
  @media screen and (max-width: 400px) {
    font-size: 15px;
  }
}
.photo {
  width: 600px;
  @media screen and (max-width: 940px) {
    width: 230px;
  }
  @media screen and (max-width: 574px) {
    width: 150px;
  }
  @media screen and (max-width: 400px) {
    padding-top: 40px;
    width: 140px;
    padding-right: 30px;
  }
}
