@import "./../../../css/color";
.title {
  background-color: $Sec-Bg;
  height: 25px;
  width: 50%;
}

.card {
  width: 320px;
  transition: box-shadow 0.1s ease-out;
  .img {
    background-color: $Sec-Bg;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
      padding-top: 5px;
    }
  }
  .card-body {
    padding: 5px;
    .link {
      text-decoration: none;
      color: $Red;
    }
    .card-title {
      color: $Red;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  &:hover {
    box-shadow: -3px -3px 5px #ffffff, 3px 3px 5px #000000;
    cursor: pointer;
  }

  @media screen and (max-width: 400px) {
    width: 270px;
    margin-left: 12px;
  }
}
