@import "./../../css/color";
.footer {
  background-color: $Text;
  height: 100px;
  width: 100%;
  .image {
    width: 200px;
    @media screen and (max-width: 435px) {
      width: 200px;
    }
  }
  span {
    @media screen and (max-width: 435px) {
      display: none;
    }
  }
}
