@import "./../../../css/color";
.SignUp {
  width: 60%;
  height: auto;
  @media screen and (max-width: 570px) {
    width: 100%;
  }
  form {
    span {
      color: $Text;
      font-size: 18px;
      .star {
        color: $Red;
      }
    }
    input {
      width: 100%;

      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid $Border;
      border-radius: 5px;
      padding: 10px;
      font-size: 18px;
    }
    select {
      height: 45px;
      width: 50%;
      border: 1px solid $Border;
      border-radius: 5px;
      padding: 10px;
      font-size: 18px;
    }
    .Or {
      font-weight: 500;
      font-size: 18px;
    }
  }
}
