@import "./../../../css/color";
.CustomerDashBoard {
  margin-left: 10px;
  margin-right: 10px;
  .titleUser {
    font-size: 35px;
    font-weight: bold;
    @media screen and (max-width: 400px) {
      font-size: 28px;
    }
  }
  .subTitleUser {
    font-size: 30px;
    font-weight: bold;
    @media screen and (max-width: 400px) {
      font-size: 20px;
    }
  }
  .contactUser {
    font-size: 25px;
    font-weight: bold;
    color: $Red;
    @media screen and (max-width: 400px) {
      font-size: 20px;
    }
  }
}
.OrderTable {
  height: 50vh;
  overflow: scroll;
}
.EmptyOrderTable {
  height: 50vh;
  //   overflow: scroll;
}
