.Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  z-index: 1;
  background-color: white;
}

.hr {
  border-top: 1px solid #a4b0bd;
  margin-top: 1px;
  margin-bottom: 1px;
}

.text {
  color: #2c3335;
  font-size: 20px;
  font-weight: lighter;
}

@media screen and (max-width: 445px) {
  .text {
    font-size: 10px;
  }
}

.NavTop a {
  text-decoration: none;
  color: #e71c23;
  -webkit-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

.NavTop a:hover {
  text-decoration: none;
  color: #3f0202;
}

a {
  text-decoration: none;
  color: #e71c23;
  -webkit-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #3f0202;
}

.Carts {
  border: 2px solid #a4b0bd;
  font-size: 26px;
  color: #e71c23;
  padding: 2px;
}

@media screen and (max-width: 445px) {
  .Carts {
    font-size: 22px;
  }
}

.Carts .fa-shopping-cart {
  color: #e71c23;
  font-size: 29px;
  padding-left: 5px;
  padding-right: 9px;
}

.Carts .border {
  border: 4px solid #a4b0bd;
}

.Carts .text {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 9px;
}

#Search {
  padding: 10px;
  font-size: 17px;
  color: #2c3335;
  font-weight: bold;
  border: 1px solid #a4b0bd;
  float: left;
  width: 80%;
}

@media screen and (max-width: 575px) {
  .form-search {
    display: none;
  }
}

.button {
  float: left;
  width: 20%;
  height: 47px;
  padding: 10px;
  color: #e71c23;
  font-size: 20px;
  background-color: white;
  border: 1px solid #a4b0bd;
  border-left: none;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: #e71c23;
}

@media screen and (max-width: 760px) {
  .Nav-Brand {
    text-align: center;
  }
}

.Nav-Links {
  border-top: 4px solid #a4b0bd;
  border-bottom: 4px solid #a4b0bd;
}

.Nav-Links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Nav-Links li {
  float: left;
}

.Nav-Links li {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
}

.Nav-Links li a {
  text-decoration: none;
  color: #2c3335;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.Nav-Links li a:hover {
  text-decoration: none;
  color: #707070;
}

.Nav-Links li .active {
  color: #e71c23;
}

.Nav-Links li .active:hover {
  text-decoration: none;
  color: #e71c23;
}

.Nav-Links .categories {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  padding: 10px;
}

@media screen and (min-width: 575px) {
  .Nav-Links .categories {
    display: none;
  }
}

@media screen and (max-width: 555px) {
  .Nav-Links {
    display: none;
  }
}

.Toogle {
  border-top: 4px solid #a4b0bd;
  border-bottom: 4px solid #a4b0bd;
  height: 50px;
  padding: 5px;
  color: #2c3335;
  font-size: 20px;
}

.Toogle .Menu {
  float: left;
  margin-left: 10px;
}

.Toogle .Menu div {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

.Toogle .Categories {
  font-weight: bolder;
  letter-spacing: 0.08em;
  float: right;
}

@media screen and (min-width: 555px) {
  .Toogle {
    display: none;
  }
}

.BackDrop {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  cursor: pointer;
}

.side-nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: #dae0e2;
  overflow-x: hidden;
  padding-top: 40px;
  -webkit-transition: 5s;
  transition: 5s;
}

.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

.side-nav a {
  padding: 0px 8px 0px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #2c3335;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.side-nav a:hover {
  color: white;
}

.close {
  display: none;
}
/*# sourceMappingURL=style.css.map */